.CardBody {
    background-color: rgb(255, 218, 151);
}

.spaceRow {
    margin: 1.5%;
}

.OneCard {
    margin: 1.5%;
}

.CardText {
    color: red;
}

.CardTitle {
    color: rgb(93, 95, 231);
}

.CompanyName {
    color: red;
}

.Products {
    color: rgb(1, 212, 1);
}

.UsefulLinks {
    color: rgb(1, 212, 1);
}

.Contact {
    color: rgb(1, 212, 1);
}